*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scrollbar-width: none;
}

body{
  background-image: url('../public/bg.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 80vw;
  color: white;
  background-color: rgba(194, 194, 249, 0.212);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  border: rgb(54, 48, 48) 1px solid;
}

.loading{
  padding: 50px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.597);
  border-radius: 15px;
}